<div>
    <form method="POST" action="/addItem">
        <input type="text" name="name" id="name" placeholder="Name of Item">
        <input type="number" name="cost" id ="cost" step="any">
        <input type="submit" name="submitItem" id="submitItem"> 
    </form>
</div>